extends ../layouts/common.pug
block stylesheet
    style.
        .sortable {
            display: block;
        }
        .sortable > div {
        margin: 5px 0;
        display: block;
        padding: 10px;
        border-radius: 4px;
        cursor: move;
        background: #fff;
        }
        .sortable > div:hover {
            background: #ffffe0;
        }
        .sortable > div.active {
            background: #ccc;
        }
        .sortable > div.dragging {
            background: #e0ffff;
            box-shadow: 0 4px 20px rgba(0,0,0,0.5);
            opacity: 0.5;
        }
    link(rel="stylesheet", href="/css/do-the-test.css")
block script-header
    style.
        body {
            font-family: "Times New Roman";
            font-size: 12pt;
            background: #AAFFA9;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

        }
        .question-wrap > p {
            margin-bottom: 0;
        }
    include ../layouts/mathjax.pug

block content
    #main-list.sortable
        each q, i in matchedQuestions
            div(id="item-"+q._id)
                b.order(data-key=q.getTrueChoice()) Câu #{i+1}: 
                span.remove
                    a.badge.badge-success(href="/questions/"+q._id) Sửa
                    |  
                | !{q.question}
                form.row.row-cols-1.row-cols-sm-2.row-cols-md-4.no-gutters.mb-0
                    each a,j in q.choices
                        .col.mb-1
                            .radio.radio-before
                                label.radio__input
                                    input(type="radio" name="radio" data-value=(a.isTrue==true) ? 1 : 0 data-order=j)
                                    .radio__control= String.fromCharCode(65+j)
                                .radio__label.d-flex.align-items-center
                                    | !{a.content}
    button#submit.btn.btn-success Lưu
block script-footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
    script(src="/js/sortable.js")
    script(src="/js/remove-question.js")
    script.
        sortable = new Sortable(document.getElementById("main-list"));
        function orderQuestions() {
        fetch('/api/order-question', {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify({ order: sortable.toArray() })
            })
            .then(res => res.json())
            .then(res => {
                if (res.status != 200) {
                    alert("Đã xảy ra lỗi khi lưu.");
                }
            });
        }
        document.getElementById("submit").addEventListener("click", function() {
            fetch('/api/tests/save', {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify({ order: sortable.toArray() })
            })
                .then(res => res.json())
                .then(res => {
                    if (res.status == 201) alert("Đã xảy ra lỗi khi lưu.");
                    else location.href = location.origin + '/tests/'+ res.idNewTest + '/view';
                });
        })
            
    