extends ../layouts/common.pug
block script-header
    script(src="//cdn.ckeditor.com/4.16.0/standard-all/ckeditor.js")
    link(rel="stylesheet", href="https://unpkg.com/@yaireo/tagify/dist/tagify.css")
block content
    form(action="/tests/"+test._id+"/edit" method="POST")
        .row
            .col-12.mb-1
                label Tên
                input.form-control(name="name" type="text" placeholder="Tên bài kiểm tra" value=test.name required)
            .col-12.mb-1
                label Link livestream
                input.form-control(name="link_fb_live" type="text" placeholder="Tên bài kiểm tra" value=test.link_fb_live)
            .col-12.mb-1
                label Link đề PDF
                input.form-control(name="link_pdf" type="text" placeholder="Tên bài kiểm tra" value=test.link_pdf)
            .col-6.mb-1
                label Thời gian (phút)
                input.form-control(name="time" type="number" placeholder="Thời gian" value=test.time required)
            .col-6.mb-1
                label Tags 
                input.test-tagify.form-control(name='tags' placeholder='Gắn thẻ' value= JSON.stringify(test.tags))
            .col-6.mb-1
                label Khối
                select.form-select(name="grade")
                    option(selected)= test.grade
                    option 10
                    option 11
                    option 12
                    option(value="") Trống
            //- .col-3.col-sm-2.mb-1
            //-     label Deadline (chưa có tính năng)
            //-     input.form-control.w-100(type="datetime-local" name="deadline" value=test.deadline.toLocaleString('vi-vn'))
            .col-6.col-sm-6.mb-1
                .form-check.form-switch
                    input.form-check-input(type="checkbox" name="isPublic" checked=test.isPublic ? true : false)
                    label.form-check-label Công bố kết quả
                .form-check.form-switch
                    input.form-check-input(type="checkbox" name="isPremium" checked=test.isPremium ? true : false)
                    label.form-check-label Ẩn đề
                .form-check.form-switch
                    input.form-check-input(type="checkbox" name="isShuffled" checked=test.isShuffled ? true : false)
                    label.form-check-label Sắp xếp độ khó
                .form-check.form-switch
                    input.form-check-input(type="checkbox" name="isSorted" checked=test.isSorted ? true : false)
                    label.form-check-label Trộn câu và đáp án
            .col-12
                label.form-label(for='note') Ghi chú đề
                textarea#note(name="note")
                    | !{test.note}
        button.mr-2.btn.btn-primary(type="submit") Lưu
        |     
        button.btn.btn-danger(type="button") Xóa
block script-footer
    script.
        (function() {
        const options = {
            toolbar: [
                { name: 'basicstyles', groups: ['basicstyles', 'cleanup'], items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat'] },
                { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi'], items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language'] },
                { name: 'insert', items: ['Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe'] },
            ],
            removeButtons: '',
            uiColor: 'var(--bs-light)',
            height: 200
        }
        CKEDITOR.replace('note', options);
        })()
    script(src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.22.0/dist/tagify.min.js")
    script(src="/js/tests/init-tagify.js")