extends ../layouts/common.pug
block script-header
    style.
        body {
            
        }
        .question-wrap > p {
            margin-bottom: 0;
        }
        .fixed-right {
            position: fixed;
            bottom: 50px;
            right: 50px;
        }
    include ../layouts/mathjax.pug
    script.
        window.MathJax.startup = {
        ready: () => {
        MathJax.startup.defaultReady();
        MathJax.startup.promise.then(() => {
            var startBtn = document.getElementById('start-btn');
            startBtn.innerHTML = "Bắt đầu làm bài";
            startBtn.disabled = false;
            });
            }
        }
    block stylesheet
        link(rel="stylesheet" href="/css/do-the-test.css")

block content
    .modal.fade#init-modal(tab-index=-1 data-bs-backdrop="static" data-bs-keyboard="false").text-center
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header.justify-content-center
                    .h1.modal-title Đề thi
                .modal-body
                    p Thời gian
                    p.fs-1 40 phút
                .modal-footer.justify-content-center
                    button.btn.btn-primary#start-btn(type="button" data-bs-dismiss="modal" disabled)
                        span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")
                        |   Đang chuẩn bị đề...


    .fixed-top(aria-live="polite" aria-atomic="true")
        .toast-container.position-absolute.top-0.end-0.p-3
            .toast(role="alert" aria-live="assertive" aria-atomic="true")
                .toast-header
                    img.rounded.me-2(src="" alt="")
                    strong.me-auto Hệ thống
                    button.btn-close(type="button" data-bs-dismiss="toast" aria-label="Close")
                .toast-body
            .toast(role="alert" aria-live="assertive" aria-atomic="true")
                .toast-header
                    img.rounded.me-2(src="" alt="")
                    strong.me-auto Tips
                    button.btn-close(type="button" data-bs-dismiss="toast" aria-label="Close")
                .toast-body

    h1.text-primary.text-center Đề thi
    .d-flex.justify-content-around
        p Đề thi gồm #{test.questions.length} câu
        p Thời gian 40 phút.
    .fixed-bottom
        .progress
            #progress-btn.progress-bar
    .test-wrap
        each q, i in test.questions
            .question.mb-2(data-id=q._id)
                .question-wrap.mb-1
                    b Câu #{i+1}: 
                    | !{q.question}
                form.row.row-cols-2.row-cols-md-4.no-gutters.mb-0
                    each a,j in q.choices
                        .col.mb-1
                            .radio.radio-before
                                label.radio__input
                                    input(type="radio" name="radio" data-value=(a.isTrue==true) ? 1 : 0 data-order=j)
                                    .radio__control= String.fromCharCode(65+j)
                                .radio__label.d-flex.align-items-center
                                    | !{a.content}
            hr
        button.btn.btn-primary#submit Nộp bài

block script-footer
    script(src="/js/countdown.js")
    script(src="/js/do-the-test.js")