extends ../layouts/common.pug
block header
    include ../layouts/mathjax.pug
    link(rel="stylesheet" href="/css/do-the-test.css")
block content
    .row.row-cols-md-2
        .col
            h5.text-primary Mã QR
            .text-center
                img.mb-1#qr-image(alt="QR Code")
                br
                button#button-addon2.btn.btn-outline-primary(type="button" onclick=`copyToClipboard(window.location.origin + "/tests/${test._id}/do")`) Copy
            h5.text-primary Thao tác
            a.btn.btn-outline-success(href=`/tests/${test._id}/edit`) Sửa
            |     
            a.btn.btn-outline-danger(href=`/tests/${test._id}/delete`) Xóa
            h5.text-primary Bảng điểm
            .table-responsive
                table.table
                    thead
                        tr
                            th(scope="col") Tên
                            th(scope="col") Điểm
                            th(scope="col") BĐ
                            th(scope="col") TG
                            th(scope="col") Rời
                            th(scope="col") Mốc thời gian khoanh
                    tbody
                        each result in results
                            tr
                                td= result.user.display_name
                                td= Math.round(result.mark*100)/100
                                td= result.started_time
                                td= (result.finished_time) ? Math.round((result.finished_time-result.started_time)/60/1000) + " phút" : "Chưa nộp"
                                td= result.leaves_area_times
                                td= result.choices.map(c => (c.moment.getTime()/1000)).sort((a, b) => a-b).map(c => c+"s").join(" - ")
        .col
            h5.text-primary= test.name ? test.name : "Đề thi"
            .d-flex.justify-content-around
                p Đề thi gồm #{test.questions.length} câu.
                p
                    | Thời gian 
                    span#totalTimes= test.time ? test.time : 40
                    |  phút.
            .fixed-bottom
                .progress
                    #progress-btn.progress-bar
            .p-1
                each q, i in test.questions
                    .question(id="q-"+q._id data-id=q._id)
                        .question-wrap
                            b Câu #{i+1}: 
                            .badge.bg-success
                                a.text-decoration-none.text-reset(href="/questions/"+q._id+"/view" target="_blank") Xem
                            | &nbsp;
                            .badge.bg-success
                                a.text-decoration-none.text-reset(href="/questions/"+q._id+"/edit" target="_blank") Sửa
                            | &nbsp;
                            if user && user.isAdmin
                                .badge.bg-primary
                                    a.text-decoration-none.text-reset(style="cursor: pointer;" onclick="addQuestion('"+q._id+"')") +
                            | &nbsp;
                            if (q.grade)
                                .badge.bg-danger
                                    a.text-decoration-none.text-reset(href="/questions?grade="+q.grade target="_blank") Lớp #{q.grade}
                                | &nbsp;
                            each tag in q.main_tags
                                .badge.bg-danger
                                    a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                                | &nbsp;
                            each tag in q.side_tags
                                .badge.bg-warning
                                    a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                                | &nbsp;
                            br
                            span.test-wrap !{q.question}
                        form.test-wrap.row.row-cols-1.row-cols-sm-2.no-gutters.mb-0
                            each a,j in q.choices
                                .col.mb-1
                                    .radio.radio-before
                                        label.radio__input
                                            if a.isTrue
                                                input(type="radio" name="radio" disabled checked)
                                            else
                                                input(type="radio" name="radio" disabled)
                                            .radio__control= String.fromCharCode(65+j)
                                        .radio__label
                                            | !{a.content}
                    hr
    script.
        document.getElementById('qr-image').src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" + window.location.origin + "/tests/#{test._id}/do"
    script(src="/js/copy.js") 
        