html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
        title= test.name ? test.name : "Đề thi"
        style.
            .question-wrap > p {
                margin-bottom: 0;
            }
            .fixed-right {
                position: fixed;
                bottom: 50px;
                right: 50px;
            }
        include ../layouts/mathjax.pug
        script.
            window.MathJax.startup = {
            ready: () => {
            MathJax.startup.defaultReady();
            MathJax.startup.promise.then(() => {
                var startBtn = document.getElementById('start-btn');
                startBtn.innerHTML = "Bắt đầu làm bài";
                startBtn.disabled = false;
                });
                }
            }
        link(rel="stylesheet" href="/css/do-the-test.css")

    body
        .container
            .card#resultCard(style="display:none;")
                .card-header
                    .h5 Kết quả
                .card-body
                    p Số câu đúng: 
                        span#result
                        span= "/" + test.questions.length + " câu"
                    p Số lần làm: #{retryTimes}
                    p Số lần rời khỏi khu vực thi: 
                        span#leaveTimes 0
                    p Thời điểm bắt đầu: 
                        span= new Date()
                    p Thời gian còn lại: 
                        span#leftTimes
            .modal.fade#init-modal(tab-index=-1 data-bs-backdrop="static" data-bs-keyboard="false").text-center
                .modal-dialog.modal-dialog-centered
                    .modal-content
                        .modal-header.justify-content-center
                            .h1.modal-title= test.name ? test.name : "Đề thi"
                        .modal-body
                            p Thời gian
                            p.fs-1= test.time ? test.time + " phút" : "40 phút"
                            img#qr-image(alt="QR Code")
                            p.h5 Chú ý
                            ul
                                li Chạm vào thanh thời gian nằm cuối màn hình để kiểm tra thời gian còn lại.
                                li Mọi hành vi gian lận đều được ghi lại.
                        .modal-footer.justify-content-center
                            button.btn.btn-primary#start-btn(type="button" data-bs-dismiss="modal" disabled)
                                span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")
                                |   Đang chuẩn bị đề...

            .fixed-top(aria-live="polite" aria-atomic="true")
                .toast-container.position-absolute.top-0.end-0.p-3
                    .toast(role="alert" aria-live="assertive" aria-atomic="true")
                        .toast-header
                            img.rounded.me-2(src="" alt="")
                            strong.me-auto Hệ thống
                            button.btn-close(type="button" data-bs-dismiss="toast" aria-label="Close")
                        .toast-body
                    .toast(role="alert" aria-live="assertive" aria-atomic="true")
                        .toast-header
                            img.rounded.me-2(src="" alt="")
                            strong.me-auto Tips
                            button.btn-close(type="button" data-bs-dismiss="toast" aria-label="Close")
                        .toast-body

            h1.text-primary.text-center Đề thi
            .d-flex.justify-content-around
                p Đề thi gồm #{test.questions.length} câu
                p
                    | Thời gian 
                    span#totalTimes= test.time ? test.time : 40
                    |  phút.
            .fixed-bottom
                .progress
                    #progress-btn.progress-bar
            .test-wrap.p-1
                each q, i in test.questions
                    .question(data-id=q._id)
                        .question-wrap
                            b Câu #{i+1}: 
                            span !{q.question}
                        form.row.row-cols-1.row-cols-sm-2.row-cols-md-4.no-gutters.mb-0
                            each a,j in q.choices
                                .col.mb-1
                                    .radio.radio-before
                                        label.radio__input
                                            input(type="radio" name="radio" data-value=(a.isTrue==true) ? 1 : 0 data-order=j)
                                            .radio__control= String.fromCharCode(65+j)
                                        .radio__label.d-flex.align-items-center
                                            | !{a.content}
                    hr
                button.btn.btn-primary.mb-5#submit Nộp bài

        script(src="/bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
        script(src="/js/countdown.js")
        script(src="/js/do-the-test.js")
        script.
            document.getElementById('qr-image').src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data="+location.href