extends ../../layouts/common.pug
block header
    include ../../layouts/mathjax.pug
    link(rel="stylesheet" href="/css/premium-test.css")
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@8af0edd/css/all.css')
block content
    #configModal.modal.fade(tabindex='-1' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Chuẩn bị đề
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form#configForm(action=`/tests/premium/${test._id}/do` method="POST")
                        .d-flex.justify-content-evenly
                            .form-check.form-switch
                                input.form-check-input(name="shuffleQuestions" type="checkbox" checked)
                                label.form-check-label Trộn câu hỏi
                            .form-check.form-switch
                                input.form-check-input(name="shuffleOptions" type="checkbox" checked)
                                label.form-check-label Trộn đáp án
                            .form-check.form-switch
                                input.form-check-input(type="checkbox" name="darkmode")
                                label.form-check-label Chế độ ban đêm
                        .mb-2.mx-auto.w-75
                            .input-group
                                .input-group-text Thời gian làm bài
                                input.form-control(type="number" min=0 max=200 name="time" value=test.time)
                                .input-group-text phút
                        button#submitBtn.d-block.mx-auto.btn.btn-primary(type='submit')
                            i.fad.fa-paper-plane.me-2
                            | Lấy đề

    .row.row-cols-md-2
        .col.col-md-3
            button.d-block.mx-auto.btn.btn-success.btn-lg.fw-bold.mb-2(data-bs-toggle="modal" data-bs-target="#configModal")
                i.fad.fa-pencil
                |    Làm đề ngay
            h5.text-success
                i.fad.fa-file-alt.me-2
                span= test.name ? test.name : "Đề thi"
            .d-flex.justify-content-around.justify-content-md-start
                .text-center.me-1
                    img.d-block.mx-auto.mb-1#qr-image(alt="QR Code" style="width: 150px;")
                table.table.align-middle
                    tr
                        td
                            i.fad.fa-list-ol
                        td #{test.questions.length} câu
                    tr
                        td
                            i.fad.fa-hourglass-start
                        td #{test.time} phút
                    tr
                        td 
                            i.fad.fa-copy 
                        td 
                            button#button-addon2.btn.btn-success.btn-sm(type="button" onclick=`copyToClipboard(window.location.origin + "/tests/${test._id}/view")`) Link
            h5.text-success.mt-2
                i.fad.fa-history.me-2
                | Lịch sử làm đề
            .d-flex.flex-wrap
                each r in results 
                    a.d-block.btn.btn-outline-success.btn-sm.mx-1.my-1.text-success(href=`/tests/${test._id}/view-result/${r._id}` target="_blank")= r.started_time.toLocaleString('vi-VN')
                    br
        .col.col-md-9
            .d-flex.justify-content-evenly
                .form-check.form-switch
                    input.form-check-input(type="checkbox" oninput="showOrHideKey(this)")
                    label.form-check-label Hiện đáp án
                .form-check.form-switch
                    input.form-check-input(type="checkbox" oninput="showOrHideAnswer(this)")
                    label.form-check-label Hiện tất cả lời giải
            .test-wrap.p-1
                each q, i in test.questions.sort((a, b) => (a.level - b.level))
                    .question(id="q-"+q._id data-id=q._id)
                        .question-wrap
                            b.sans-serif Câu #{i+1}: 
                            span.sans-serif
                                .badge.bg-success
                                    a.text-decoration-none.text-reset(data-bs-toggle="collapse" href="#ans-"+q._id role="button" aria-expanded="false") Xem lời giải
                                | &nbsp;
                                if (q.level)
                                    .badge.bg-danger
                                        a.text-decoration-none.text-reset(href="#") Mức #{q.level}
                                    | &nbsp;
                                if (q.grade)
                                    .badge.bg-danger
                                        a.text-decoration-none.text-reset(href="/questions?grade="+q.grade target="_blank") Lớp #{q.grade}
                                    | &nbsp;
                                each tag in q.main_tags
                                    .badge.bg-danger
                                        a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                                    | &nbsp;
                                each tag in q.side_tags
                                    .badge.bg-warning
                                        a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                                    | &nbsp;
                            br
                            | !{q.question}
                        form.row.row-cols-1.row-cols-sm-2.no-gutters.mb-0
                            each a,j in q.choices
                                .col.mb-1
                                    .radio.radio-before.d-flex.align-items-center
                                        label.radio__input
                                            input(type="radio" name="radio" disabled data-isTrue = a.isTrue ? "1" : "0")
                                            .radio__control= String.fromCharCode(65+j)
                                        .radio__label
                                            | !{a.content}
                    .collapse(id="ans-"+q._id)
                        if q.answer
                            | !{q.answer}
                        else
                            | Câu này chưa có lời giải chi tiết.
                    hr
block script-footer
    script.
        document.getElementById('qr-image').src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" + window.location.origin + "/tests/premium/#{test._id}/do"
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous")
    script(src="/js/helper/fetch.js")
    script(src="/js/helper/copy.js")
    script(src="/js/helper/randomfacts.js")
    script(src="/js/tests/premium/view.js")