extends ../../layouts/common.pug
block header
    include ../../layouts/mathjax.pug
    link(rel="stylesheet" href="/css/premium-test.css")
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@8af0edd/css/all.css')
    style.
        :root {
            --bs-success: #2dce89;
        }

block content
    #configModal.modal.fade(tabindex='-1' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Chuẩn bị đề
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .alert.alert-primary 
                        | Nhằm giúp các bạn luyện đề được chủ động nhất, các bạn hãy lựa chọn chế độ luyện đề phù hợp với mình nhé!
                    form.container#configForm(action=`/courses/${course._id}/tests/${test._id}/do` method="GET")
                        .row.row-cols-md-2
                            .col
                                .form-check.form-switch
                                    input.form-check-input(name="shuffleQuestions" type="checkbox" checked)
                                    label.form-check-label Trộn câu hỏi
                            .col 
                                .text-muted Vẫn giữ đúng thứ tự từ dễ đến khó
                        .row.row-cols-md-2
                            .col
                                .form-check.form-switch
                                    input.form-check-input(name="shuffleOptions" type="checkbox" checked)
                                    label.form-check-label Trộn đáp án
                            .col 
                                .text-muted Tráo 4 đáp án cho khỏi nhớ đề
                        .row.row-cols-md-2.mb-2
                            .col
                                .form-check.form-switch
                                    input.form-check-input(type="checkbox" name="darkmode")
                                    label.form-check-label Chế độ ban đêm
                            .col 
                                .text-muted Bật chế độ này giúp tránh gây mỏi mắt
                        .row.row-cols-md-2.mb-2
                            .col
                                .form-check.form-switch
                                    input.form-check-input(type="checkbox" name="zoomout")
                                    label.form-check-label Cỡ chữ lớn
                            .col 
                                .text-muted Thích hợp cho màn hình máy tính
                        .mb-2.mx-auto
                            .input-group
                                .input-group-text.bg-primary.text-white Thời gian làm bài
                                input.form-control(type="number" min=0 max=200 name="time" value=test.time)
                                .input-group-text phút
                        .mb-2
                            .input-group
                                .input-group-text.bg-primary.text-white Độ dễ nhất
                                input.form-control(type="number" min=0 max=10 name="min" value=0)
                                .input-group-text điểm
                        .mb-2
                            .input-group
                                .input-group-text.bg-primary.text-white Độ khó nhất
                                input.form-control(type="number" min=0 max=10 name="max" value=10)
                                .input-group-text điểm
                        button#submitBtn.d-block.mx-auto.btn.btn-primary(type='submit')
                            i.fad.fa-paper-plane.me-2
                            | Lấy đề
                    #prArea

    .row.row-cols-md-2
        .col.col-md-3
            button.d-block.mx-auto.btn.btn-success.btn-lg.fw-bold.mb-2(data-bs-toggle="modal" data-bs-target="#configModal")
                i.fad.fa-pencil
                |    Làm đề ngay
            .mb-2.text-center
                a.btn.btn-danger.btn-sm(href="/courses/" + course._id + "/view") Trở về khoá học
            h5.text-success
                i.fad.fa-file-alt.me-2
                span= test.name ? test.name : "Đề thi"
            .text-center.me-1
                img.d-block.mx-auto.mb-1#qr-image(alt="QR Code" style="width: 150px;")
            .row.row-cols-2
                .col-3
                    i.fad.fa-list-ol
                .col-9 #{test.questions.length} câu
                .col-3
                    i.fad.fa-hourglass-start
                .col-9 #{test.time} phút
                .col-3
                    i.fad.fa-copy 
                .col-9
                    button#button-addon2.btn.btn-success.btn-sm(type="button" onclick=`copyToClipboard(window.location.href);`) Copy Link 
                if test.link_fb_live
                    .col-3
                        i.fab.fa-facebook 
                    .col-9 
                        a(href=test.link_fb_live target="_blank") Video chữa
                if test.link_pdf
                    .col-3
                        i.fas.fa-file-pdf 
                    .col-9 
                        a(href=test.link_pdf target="_blank") PDF
            h5.text-success.mt-2
                i.fad.fa-history.me-2
                | Lịch sử làm đề
            .d-flex.flex-wrap
                each r in results 
                    a.d-block.badge.badge-success.mx-1.my-1(href=`/tests/${test._id}/view-result/${r._id}` target="_blank")= r.started_time.toLocaleString('vi-VN')
                    br
        .col.col-md-9
            h5.text-success Nội dung đề
            .d-flex.justify-content-evenly
                .form-check.form-switch
                    input.form-check-input(type="checkbox" oninput="showOrHideKey(this)")
                    label.form-check-label Hiện đáp án
                .form-check.form-switch
                    input.form-check-input(type="checkbox" oninput="showOrHideAnswer(this)")
                    label.form-check-label Hiện tất cả lời giải
            .test-wrap.p-1
                each q, i in test.questions.sort((a, b) => (a.level - b.level))
                    .question(id="q-"+q._id data-id=q._id)
                        .question-wrap
                            b.sans-serif Câu #{i+1}: 
                            span.sans-serif
                                .badge.bg-success
                                    a.text-decoration-none.text-reset(data-bs-toggle="collapse" href="#ans-"+q._id role="button" aria-expanded="false") Xem lời giải
                                | &nbsp;
                                if (q.level)
                                    .badge.bg-danger
                                        a.text-decoration-none.text-reset(href="#") Mức #{q.level}
                                    | &nbsp;
                                if (q.grade)
                                    .badge.bg-danger
                                        a.text-decoration-none.text-reset(href="/questions?grade="+q.grade target="_blank") Lớp #{q.grade}
                                    | &nbsp;
                                each tag in q.main_tags
                                    .badge.bg-danger
                                        a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                                    | &nbsp;
                                each tag in q.side_tags
                                    .badge.bg-warning
                                        a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                                    | &nbsp;
                            br
                            | !{q.question}
                        form.row.row-cols-1.row-cols-sm-2.no-gutters.mb-0
                            each a,j in q.choices
                                .col.mb-1
                                    .radio.radio-before.d-flex.align-items-center
                                        label.radio__input
                                            input(type="radio" name="radio" disabled data-isTrue = a.isTrue ? "1" : "0")
                                            .radio__control= String.fromCharCode(65+j)
                                        .radio__label
                                            | !{a.content}
                    .collapse(id="ans-"+q._id)
                        if q.answer
                            .h6.text-success.fw-bold.sans-serif Đáp án
                            .ms-2
                                | !{q.answer}
                        else
                            .sans-serif
                                | Câu này chưa có lời giải chi tiết nhưng không sao đã có 
                                a.btn.btn-primary.btn-sm.btn-icon(href="https://www.facebook.com/groups/giaimoibaily" target="_blank")
                                    i.fab.fa-facebook
                                    span Ở đây giải mọi bài tập Lý
                    hr.my-1
block script-footer
    script.
        document.getElementById('qr-image').src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" + window.location.origin + "/tests/premium/#{test._id}/do"
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous")
    script(src="/js/helper/fetch.js")
    script(src="/js/helper/copy.js")
    script(src="/js/helper/notify.js")
    script(src="/js/helper/randomfacts.js")
    script(src="/js/tests/premium/view.js")