extends ../layouts/common.pug
block stylesheet
    link(rel="stylesheet", href="/css/premium-test.css")
    link(rel="stylesheet", href="https://unpkg.com/@yaireo/tagify/dist/tagify.css")
block script-header
    include ../layouts/mathjax.pug
    script.
            window.MathJax.startup = {
                ready: () => {
                    MathJax.startup.defaultReady();
                    MathJax.startup.promise.then(() => {
                        optionArea();
                        
                    });
                }
            }
block content
    if user && user.isAdmin
        .mb-2
            a.btn.btn-primary(href="/questions/create") Thêm
    .mb-2
        form(action="/questions" method="GET")
            .row
                .col-12.col-sm-4.mb-1
                    input.form-control(name="query" type="text" placeholder="Cụm từ tìm kiếm" value=handledQuery.query)
                        
                .col-12.col-sm-4.mb-1
                    input.tagify.form-control(name="tags" type="text" placeholder="Chủ đề" value=handledQuery.tags style="min-width: 38px;")
                .col-4.col-sm-2.mb-1
                    select.form-select(name="grade")
                        if handledQuery.grade
                            option(value=handledQuery.grade hidden)= handledQuery.grade
                        else
                            option(value="" hidden) Khối
                        option(selected = (handledQuery.grade == 10)) 10
                        option(selected = (handledQuery.grade == 11)) 11
                        option(selected = (handledQuery.grade == 12)) 12
                        option(value="-1", selected = (handledQuery.grade == -1)) Trống
                        option(value="") Tất cả
                .col-4.col-sm-2.mb-1
                    select.form-select(name="sort")
                        option(value="" hidden) Sắp xếp theo
                        option(value=1, selected = (handledQuery.sort == 1)) Cũ nhất
                        option(value=2, selected = (handledQuery.sort == 2)) Mới nhất
                        option(value=3, selected = (handledQuery.sort == 3)) Dễ nhất
                        option(value=4, selected = (handledQuery.sort == 4)) Khó nhất
                .col-4.col-sm-2.mb-1
                    select.form-select(name="detailed_answer")
                        option(value="" hidden) Đáp án chi tiết
                        option(value=0, selected = (handledQuery.detailed_answer == 0)) Tất cả
                        option(value=1, selected = (handledQuery.detailed_answer == 1)) Có chi tiết
                        option(value=2, selected = (handledQuery.detailed_answer == 2)) Không chi tiết
            button.btn.btn-primary(type="submit") Tìm
    each q, i in questions
        .border-start.border-success.border-5.rounded.mb-2.p-2.shadow
            .badge.bg-success
                a.text-decoration-none.text-reset(href="/questions/"+q._id+"/view" target="_blank") Xem
            | &nbsp;
            if user && user.isAdmin
                .badge.bg-success
                    a.text-decoration-none.text-reset(href="/questions/"+q._id+"/edit" target="_blank") Sửa
                | &nbsp;
                .badge.bg-primary
                    a.text-decoration-none.text-reset(style="cursor: pointer;" onclick="addQuestion('"+q._id+"')") +
                | &nbsp;
            if (q.level)
                .badge.bg-danger
                    a.text-decoration-none.text-reset(href="#") Độ khó #{q.level}
                | &nbsp;
            if (q.grade)
                .badge.bg-danger
                    a.text-decoration-none.text-reset(href="/questions?grade="+q.grade target="_blank") Lớp #{q.grade}
                | &nbsp;
            each tag in q.main_tags
                .badge.bg-danger
                    a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                | &nbsp;
            each tag in q.side_tags
                .badge.bg-warning
                    a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                | &nbsp;
            if q.answer && q.answer.length > 5
                .badge.bg-success
                    a.text-decoration-none.text-reset(href="#") Có đáp án chi tiết
                | &nbsp;
            .test-wrap
                .question-wrap.ml-2.mt-1
                    | !{q.question}
                
                form.row.row-cols-1.no-gutters.mb-0.optionArea
                    each a,j in q.choices
                        .col.mb-1.d-flex.align-items-center
                            .radio.radio-before.d-flex.align-items-center
                                label.radio__input
                                    input(type="radio" name="radio" data-id=a._id)
                                    .radio__control= String.fromCharCode(65+j)
                                .radio__label.ms-2
                                    | !{a.content}
        
    if (maxPage > 1)
        nav(aria-label='Page navigation')
            ul.pagination.justify-content-center
                if currentPage != 1
                    li.page-item
                        a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&detailed_answer=${handledQuery.detailed_answer}&p=1`)= "1"
                    li.page-item
                        a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&detailed_answer=${handledQuery.detailed_answer}&p=`+(currentPage-1))= "<"

                    li.page-item.active
                        a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&detailed_answer=${handledQuery.detailed_answer}&p=`+currentPage)= currentPage
                if currentPage != maxPage
                    li.page-item
                        a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&detailed_answer=${handledQuery.detailed_answer}&p=`+(currentPage+1))= ">"
                    li.page-item
                        a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&detailed_answer=${handledQuery.detailed_answer}&p=`+maxPage)= maxPage
                li.page-item
                    button.page-link(type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pageModal" href="#pageModal")
                        i.fas.fa-dice-four
    #pageModal.modal.fade(tabindex='-1' aria-labelledby='pageModalLabel' aria-hidden='true' data-bs-backdrop="false")
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5#pageModalLabel.modal-title Các trang tồn tại
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    ul.pagination.justify-content-around.flex-wrap
                        each _, i in Array(maxPage)
                            li.page-item.mx-1.my-1(class= ((i+1 == currentPage) ? "active" : "") )
                                a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&detailed_answer=${handledQuery.detailed_answer}&p=${i+1}`)= (i+1)

                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close


    script.
        document.querySelectorAll("input[type='radio']").forEach(i => {i.disabled = true});
block script-footer
    script(src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.22.0/dist/tagify.min.js")
    script(src="/js/questions/init-tagify.js")
    script 
        include /js/tests/fixUi.js
    script.
        window.addEventListener('resize', () => {optionArea()});
    if user && user.isAdmin
        script(src="/js/helper/notify.js")
        script(src="/js/helper/fetch.js")
        script(src="/js/questions/functions.js")
