extends ../layouts/common.pug
block stylesheet
    link(rel="stylesheet", href="/css/do-the-test.css")
block script-header
    style.
        body {
            font-family: "Times New Roman";
        }
        .question-wrap > p {
            margin-bottom: 0;
        }
        .fixed-right {
            position: fixed;
            bottom: 50px;
            right: 50px;
        }
    include ../layouts/mathjax.pug
block content
    a.btn.btn-primary(href="/questions/create") Add
    a.btn.btn-primary(href="/questions/export") Export
    h1.h3.text-primary List of Questions
    .fixed-right(style="")
        a#number.btn.btn-primary.btn-lg(href="/tests/create")= numberOfQuestions
    each q, i in questions
        hr
        .mb-2
            .question-wrap.mb-1
                if (q.grade)
                    a.badge.bg-success(href="#") Lớp #{q.grade}
                a.btn.btn-success(href="/questions/"+q._id+"/edit") Sửa
                button.btn.btn-primary(onclick="addQuestion('"+q._id+"')") +
                | !{q.question}
            form.row.row-cols-2.row-cols-md-4.no-gutters.mb-0
                each a,j in q.choices
                    .col.mb-1
                        .radio.radio-before
                            label.radio__input
                                input(type="radio" name="radio" data-value=(a.isTrue==true) ? 1 : 0 data-order=j)
                                .radio__control= String.fromCharCode(65+j)
                            .radio__label.d-flex.align-items-center
                                span
                                    | !{a.content}
    nav(aria-label='Page navigation')
        ul.pagination.justify-content-center
            if currentPage != 1
                li.page-item
                    a.page-link(href='/questions?p=1')= "1"
                li.page-item
                    a.page-link(href='/questions?p='+(currentPage-1))= "<"

                li.page-item.active
                    a.page-link(href='/questions?p='+currentPage)= currentPage
            if currentPage != maxPage
                li.page-item
                    a.page-link(href='/questions?p='+(currentPage+1))= ">"
                li.page-item
                    a.page-link(href='/questions?p='+maxPage)= maxPage
    script.
        document.querySelectorAll("input[type='radio']").forEach(i => {i.disabled = true});
block script-footer
    script(src="/js/add-question.js")
