extends ../layouts/common.pug
block stylesheet
    link(rel="stylesheet", href="/css/do-the-test.css")
    link(rel="stylesheet", href="https://unpkg.com/@yaireo/tagify/dist/tagify.css")
block script-header
    include ../layouts/mathjax.pug
block content
    if user && user.isAdmin
        .mb-2
            a.btn.btn-primary(href="/questions/create") Thêm
    .mb-2
        form(action="/questions" method="GET")
            .row
                .col-12.col-sm-4.mb-1
                    input.form-control(name="query" type="text" placeholder="Cụm từ tìm kiếm" value=handledQuery.query)
                        
                .col-12.col-sm-4.mb-1
                    input.tagify.form-control(name="tags" type="text" placeholder="Chủ đề" value=handledQuery.tags style="min-width: 38px;")
                .col-6.col-sm-2.mb-1
                    select.form-select(name="grade")
                        if handledQuery.grade
                            option(value=handledQuery.grade hidden)= handledQuery.grade
                        else
                            option(value="" hidden) Khối
                        option 10
                        option 11
                        option 12
                        option(value="") Trống
                .col-6.col-sm-2.mb-1
                    select.form-select(name="sort")
                        option(value="" hidden) Sắp xếp theo
                        option(value=1) Cũ nhất
                        option(value=2) Mới nhất
                        option(value=3) Dễ nhất
                        option(value=4) Khó nhất
            button.btn.btn-primary(type="submit") Tìm
    each q, i in questions
        .border-start.border-success.border-5.rounded.mb-2.p-2.shadow-sm
            .badge.bg-success
                a.text-decoration-none.text-reset(href="/questions/"+q._id+"/view" target="_blank") Xem
            | &nbsp;
            if user && user.isAdmin
                .badge.bg-success
                    a.text-decoration-none.text-reset(href="/questions/"+q._id+"/edit" target="_blank") Sửa
                | &nbsp;
                .badge.bg-primary
                    a.text-decoration-none.text-reset(style="cursor: pointer;" onclick="addQuestion('"+q._id+"')") +
                | &nbsp;
            if (q.level)
                .badge.bg-danger
                    a.text-decoration-none.text-reset(href="#") Độ khó #{q.level}
                | &nbsp;
            if (q.grade)
                .badge.bg-danger
                    a.text-decoration-none.text-reset(href="/questions?grade="+q.grade target="_blank") Lớp #{q.grade}
                | &nbsp;
            each tag in q.main_tags
                .badge.bg-danger
                    a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                | &nbsp;
            each tag in q.side_tags
                .badge.bg-warning
                    a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                | &nbsp;
            if q.answer && q.answer.length > 5
                .badge.bg-success
                    a.text-decoration-none.text-reset(href="#") Có đáp án chi tiết
                | &nbsp;
            .test-wrap
                .question-wrap.ml-2.mt-1
                    | !{q.question}
                
                form.row.row-cols-1.row-cols-sm-2.row-cols-md-4.no-gutters.mb-0
                    each a,j in q.choices
                        .col.mb-1
                            .radio.radio-before
                                label.radio__input
                                    input(type="radio" name="radio" data-value=(a.isTrue==true) ? 1 : 0 data-order=j)
                                    .radio__control= String.fromCharCode(65+j)
                                .radio__label.ms-md-2
                                    span
                                        | !{a.content}
        
    if (maxPage > 1)
        nav(aria-label='Page navigation')
            ul.pagination.justify-content-center
                if currentPage != 1
                    li.page-item
                        a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&p=1`)= "1"
                    li.page-item
                        a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&p=`+(currentPage-1))= "<"

                    li.page-item.active
                        a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&p=`+currentPage)= currentPage
                if currentPage != maxPage
                    li.page-item
                        a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&p=`+(currentPage+1))= ">"
                    li.page-item
                        a.page-link(href=`/questions?query=${handledQuery.query}&grade=${handledQuery.grade}&tags=${handledQuery.tags}&sort=${handledQuery.sort}&p=`+maxPage)= maxPage
    script.
        document.querySelectorAll("input[type='radio']").forEach(i => {i.disabled = true});
block script-footer
    if user && user.isAdmin
        script(src="/js/helper/notify.js")
        script(src="/js/helper/fetch.js")
        script(src="/js/questions/functions.js")
    script(src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.22.0/dist/tagify.min.js")
    script(src="/js/questions/init-tagify.js")
