extends ../layouts/common.pug
block stylesheet
    link(rel="stylesheet", href="/css/do-the-test.css")
block script-header
    include ../layouts/mathjax.pug

block content
    if user && user.isAdmin
        .d-flex
            a.d-block.btn.btn-success(href="/questions/create") Thêm câu hỏi mới
            a.d-block.btn.btn-success(href="/questions/"+question._id+"/edit") Sửa câu hỏi này
            form(action="/questions/"+question._id+"/delete")
                button.btn.btn-danger(type="submit") Xoá câu hỏi này
    .p-2.mb-2.shadow-sm
        if user && user.isAdmin
            .badge.bg-success
                a.text-decoration-none.text-reset(href="/questions/"+question._id+"/view" target="_blank") Xem
            | &nbsp;
            .badge.bg-success
                a.text-decoration-none.text-reset(href="/questions/"+question._id+"/edit" target="_blank") Sửa
            | &nbsp;
            .badge.bg-primary
                a.text-decoration-none.text-reset(style="cursor: pointer;" onclick="addQuestion('"+question._id+"')") +
            | &nbsp;
        if (question.grade)
            .badge.bg-danger
                a.text-decoration-none.text-reset(href="/questions?grade="+question.grade target="_blank") Lớp #{question.grade}
            | &nbsp;
        each tag in question.main_tags
            .badge.bg-danger
                a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
            | &nbsp;
        each tag in question.side_tags
            .badge.bg-warning
                a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
            | &nbsp;
        .test-wrap
            span !{question.question}
            form.row.row-cols-2.row-cols-md-4.no-gutters.mb-0
                each a,j in question.choices
                    .col.mb-1
                        .radio.radio-before
                            label.radio__input
                                input(type="radio" name="radio" data-value=(a.isTrue==true) ? 1 : 0 data-order=j)
                                .radio__control= String.fromCharCode(65+j)
                            .radio__label
                                span
                                    | !{a.content}
    .p-2.mb-2.shadow-sm
        b.text-success Đáp án đúng: 
        span= question.getTrueChoice()
        br
        if question.answer && question.answer.length > 3
            b.text-success Lời giải chi tiết:
            p.ml-1 !{question.answer}
        else 
            b.text-success Câu này chưa có lời giải chi tiết
    script.
        document.querySelectorAll("input[type='radio']").forEach(i => {i.disabled = true});
block script-footer
    if user && user.isAdmin
        script(src="/js/helper/notify.js")
        script(src="/js/helper/fetch.js")
        script(src="/js/questions/functions.js")
