extends ../layouts/common.pug
block stylesheet
    link(rel="stylesheet", href="/css/premium-test.css")
block script-header
    include ../layouts/mathjax.pug
    script.
        window.MathJax.startup = {
            ready: () => {
                MathJax.startup.defaultReady();
                MathJax.startup.promise.then(() => {
                    optionArea();
                    
                });
            }
        }

block content
    if user && user.isAdmin
        .d-flex
            .mx-1
                a.btn.btn-success(href="/questions/create") Thêm câu hỏi mới
            .mx-1
                a.d-block.btn.btn-success(href="/questions/"+question._id+"/edit") Sửa câu hỏi này
            form(action="/questions/"+question._id+"/delete")
                button.btn.btn-danger(type="submit") Xoá câu hỏi này
    .border-start.border-success.border-5.rounded.mb-2.p-2.shadow
        | &nbsp;
        if user && user.isAdmin
            .badge.bg-success
                a.text-decoration-none.text-reset(href="/questions/"+question._id+"/edit" target="_blank") Sửa
            | &nbsp;
            .badge.bg-primary
                a.text-decoration-none.text-reset(style="cursor: pointer;" onclick="addQuestion('"+question._id+"')") +
            | &nbsp;
        if (question.level)
            .badge.bg-danger
                a.text-decoration-none.text-reset(href="#") Độ khó #{question.level}
            | &nbsp;
        if (question.grade)
            .badge.bg-danger
                a.text-decoration-none.text-reset(href="/questions?grade="+question.grade target="_blank") Lớp #{question.grade}
            | &nbsp;
        each tag in question.main_tags
            .badge.bg-danger
                a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
            | &nbsp;
        each tag in question.side_tags
            .badge.bg-warning
                a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
            | &nbsp;
        if question.answer && question.answer.length > 5
            .badge.bg-success
                a.text-decoration-none.text-reset(href="#") Có đáp án chi tiết
            | &nbsp;
        .test-wrap
            .question-wrap.ml-2.mt-1
                | !{question.question}
            
            form.row.row-cols-1.no-gutters.mb-0.optionArea
                each a,j in question.choices
                    .col.mb-1.d-flex.align-items-center
                        .radio.radio-before.d-flex.align-items-center
                            label.radio__input
                                input(type="radio" name="radio" data-id=a._id)
                                .radio__control= String.fromCharCode(65+j)
                            .radio__label.ms-2
                                | !{a.content}
    .border-start.border-success.border-5.rounded.mb-2.p-2.shadow
        b.text-success Đáp án đúng: 
        span= question.getTrueChoice()
        br
        if question.answer && question.answer.length > 3
            b.text-success Lời giải chi tiết:
            p.ml-1 !{question.answer}
        else 
            b.text-success Câu này chưa có lời giải chi tiết
    h4 Các câu tương tự
    each q in altQuestions
        .border-start.border-success.border-5.rounded.mb-2.p-2.shadow
            .badge.bg-success
                a.text-decoration-none.text-reset(href="/questions/"+q._id+"/view" target="_blank") Xem
            | &nbsp;
            if user && user.isAdmin
                .badge.bg-success
                    a.text-decoration-none.text-reset(href="/questions/"+q._id+"/edit" target="_blank") Sửa
                | &nbsp;
                .badge.bg-primary
                    a.text-decoration-none.text-reset(style="cursor: pointer;" onclick="addQuestion('"+q._id+"')") +
                | &nbsp;
            if (q.level)
                .badge.bg-danger
                    a.text-decoration-none.text-reset(href="#") Độ khó #{q.level}
                | &nbsp;
            if (q.grade)
                .badge.bg-danger
                    a.text-decoration-none.text-reset(href="/questions?grade="+q.grade target="_blank") Lớp #{q.grade}
                | &nbsp;
            each tag in q.main_tags
                .badge.bg-danger
                    a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                | &nbsp;
            each tag in q.side_tags
                .badge.bg-warning
                    a.text-decoration-none.text-reset(href="/questions?tags="+"["+JSON.stringify(tag)+"]" target="_blank")= tag.value
                | &nbsp;
            if q.answer && q.answer.length > 5
                .badge.bg-success
                    a.text-decoration-none.text-reset(href="#") Có đáp án chi tiết
                | &nbsp;
            .test-wrap
                .question-wrap.ml-2.mt-1
                    | !{q.question}
                
                form.row.row-cols-1.no-gutters.mb-0.optionArea
                    each a,j in q.choices
                        .col.mb-1.d-flex.align-items-center
                            .radio.radio-before.d-flex.align-items-center
                                label.radio__input
                                    input(type="radio" name="radio" data-id=a._id)
                                    .radio__control= String.fromCharCode(65+j)
                                .radio__label.ms-2
                                    | !{a.content}
    script.
        document.querySelectorAll("input[type='radio']").forEach(i => {i.disabled = true});
block script-footer
    script 
        include /js/tests/fixUi.js
    script.
        window.addEventListener('resize', () => {optionArea()});
    if user && user.isAdmin
        script(src="/js/helper/notify.js")
        script(src="/js/helper/fetch.js")
        script(src="/js/questions/functions.js")
